---
- name: Create user aur_builder
  ansible.builtin.user:
    name: aur_builder
  become: true

- name: Set aur_builder passworldess sudo
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/aur_builder-allow-to-sudo-pacman
    state: present
    line: "aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman"
    validate: /usr/sbin/visudo -cf %s
    create: true
  become: true
