# Application bindings
$terminal = uwsm-app -- $TERMINAL
$browser = omarchy-launch-browser

bindd = SUPER SHIFT, RETURN, Terminal, exec, $terminal --working-directory="$(omarchy-cmd-terminal-cwd)"
# bindd = SUPER SHIFT, F, File manager, exec, uwsm-app -- nautilus --new-window
bindd = SUPER SHIFT, B, Browser, exec, $browser
bindd = SUPER SHIFT ALT, B, Browser (private), exec, $browser --private
bindd = SUPER SHIFT, M, Music, exec, omarchy-launch-or-focus spotify
bindd = SUPER SHIFT, E, Editor, exec, omarchy-launch-editor
bindd = SUPER SHIFT, T, Activity, exec, $terminal -e btop
bindd = SUPER SHIFT, D, Docker, exec, $terminal -e lazydocker
bindd = SUPER SHIFT, G, Signal, exec, omarchy-launch-or-focus signal "uwsm-app -- signal-desktop"
# bindd = SUPER SHIFT, O, Obsidian, exec, omarchy-launch-or-focus "^obsidian$" "uwsm-app -- obsidian -disable-gpu --enable-wayland-ime"
bindd = SUPER SHIFT, W, Typora, exec, uwsm-app -- typora --enable-wayland-ime
bindd = SUPER SHIFT, SLASH, Passwords, exec, uwsm-app -- bitwarden.desktop

# If your web app url contains #, type it as ## to prevent hyprland treating it as a comment
bindd = SUPER SHIFT, A, ChatGPT, exec, omarchy-launch-webapp "https://chatgpt.com"
# bindd = SUPER SHIFT ALT, A, Grok, exec, omarchy-launch-webapp "https://grok.com"
bindd = SUPER SHIFT, C, Calendar, exec, omarchy-launch-webapp "https://calendar.google.com/"
bindd = SUPER SHIFT, M , Email, exec, omarchy-launch-webapp "https://mail.google.com"
bindd = SUPER SHIFT ALT, M , Email, exec, omarchy-launch-webapp "https://maps.google.com"
bindd = SUPER SHIFT, Y, YouTube, exec, omarchy-launch-webapp "https://youtube.com/"
# bindd = SUPER SHIFT ALT, G, WhatsApp, exec, omarchy-launch-or-focus-webapp WhatsApp "https://web.whatsapp.com/"
# bindd = SUPER SHIFT CTRL, G, Google Messages, exec, omarchy-launch-or-focus-webapp "Google Messages" "https://messages.google.com/web/conversations"
bindd = SUPER SHIFT, V, Google Voice, exec, omarchy-launch-webapp "https://voice.google.com"
bindd = SUPER SHIFT ALT, P, Google Photos, exec, omarchy-launch-or-focus-webapp "Google Photos" "https://photos.google.com/"
# bindd = SUPER SHIFT, X, X, exec, omarchy-launch-webapp "https://x.com/"
# bindd = SUPER SHIFT ALT, X, X Post, exec, omarchy-launch-webapp "https://x.com/compose/post"

# Overwrite existing bindings, like putting Omarchy Menu on Super + Space
# unbind = SUPER, SPACE
# bindd = SUPER, SPACE, Omarchy menu, exec, omarchy-menu

#
# Custom Media Bindings with SUPER key for Keyboards without a PRINT key
# Solution A: Using the BACKSLASH (\) key.
#

# Unbind the old PRINT key commands to avoid any conflicts
unbind = , PRINT
unbind = SHIFT, PRINT
unbind = CTRL, PRINT
unbind = ALT, PRINT
unbind = CTRL ALT, PRINT
unbind = SUPER, PRINT

# Screenshots and Recordings with SUPER + LBRACKET ([)
bindd = SUPER, BACKSLASH, Screenshot of region, exec, ~/.local/share/omarchy/bin/omarchy-cmd-screenshot
bindd = SUPER SHIFT, BACKSLASH, Screenshot of window, exec, ~/.local/share/omarchy/bin/omarchy-cmd-screenshot window
bindd = SUPER CTRL, BACKSLASH, Screenshot of display, exec, ~/.local/share/omarchy/bin/omarchy-cmd-screenshot output
bindd = SUPER ALT, BACKSLASH, Screen record a region, exec, ~/.local/share/omarchy/bin/omarchy-cmd-screenrecord
bindd = SUPER CTRL ALT, BACKSLASH, Screen record display, exec, ~/.local/share/omarchy/bin/omarchy-cmd-screenrecord output

# Color picker moved to a dedicated, non-conflicting key
bindd = SUPER ALT SHIFT, C, Color picker, exec, pkill hyprpicker || hyprpicker -a

# Adding emacs-like movement
unbind = SUPER, F
unbind = SUPER, B
unbind = SUPER, P
unbind = SUPER, N

unbind = SUPER SHIFT, F
unbind = SUPER SHIFT, B
unbind = SUPER SHIFT, P
unbind = SUPER SHIFT, N

bind = SUPER, F, movefocus, r
bind = SUPER, B, movefocus, l
bind = SUPER, P, movefocus, u
bind = SUPER, N, movefocus, d

bind = SUPER SHIFT, F, swapwindow, r
bind = SUPER SHIFT, B, swapwindow, l
bind = SUPER SHIFT, P, swapwindow, u
bind = SUPER SHIFT, N, swapwindow, d

# bind = SUPER SHIFT, F, fullscreen, 1
# bind = SUPER ALT, F, fullscreen

# Move workspaces to other monitors
# argument changed from l/r to -1/+1
bindd = SUPER SHIFT ALT, LEFT, Move workspace to left monitor, movecurrentworkspacetomonitor, -1
bindd = SUPER SHIFT ALT, RIGHT, Move workspace to right monitor, movecurrentworkspacetomonitor, +1


# bindd = XF86Fn, ESCAP, Fn Lock, exec, ~/.local/bin/toggle-fn-lock-mac

# System specific config:
{{ if eq .chezmoi.hostname "macbook-omarchy" }}

# Because a mac keyboard has no traditional delete key
bind = super, backspace, sendshortcut, , delete,

# Toggle function lock
bind = SUPER SHIFT, ESCAPE, exec, /usr/bin/sudo /home/ewhd/.local/bin/toggle-fn-lock-mac
# bind = , 229, exec, /home/ewhd/.local/bin/kbd-backlight-down >> /tmp/fn.log 2>&
# bind = , 230, exec, /home/ewhd/.local/bin/kbd-backlight-up >> /tmp/fn.log 2>&
bind = SUPER, "[", exec, /home/ewhd/.local/bin/kbd-backlight-down >> /tmp/fn.log 2>&
bind = SUPER, "]", exec, /home/ewhd/.local/bin/kbd-backlight-up >> /tmp/fn.log 2>&
# The scripts for these work, but not these keybinds

# Swap back and forth between 2 workspaces
# This swaps default omarchy keybindings
unbind = SUPER, TAB
unbind = SUPER CTRL, TAB
bindd = SUPER, TAB, Former workspace, workspace, previous
bindd = SUPER CTRL, TAB, Next workspace, workspace, e+1


{{ end }}