---
- name: System setup
  hosts: localhost
  # become: true
  # gather_facts: true

  vars_files:
    - config.yaml

  tasks:
    - import_tasks: tasks/common.yaml
    - import_tasks: tasks/other-packages.yaml
    - import_tasks: tasks/setup-aur.yaml
    - import_tasks: tasks/other-aur-packages.yaml
    - import_tasks: tasks/pip.yaml
    # - import_tasks: tasks/wayland.yaml
