---
- name: System setup
  hosts: localhost
  become: true
  gather_facts: true

  roles:
    - role: common
    - role: editor
    - role: gui

  tasks:
    - name: Include Archlinux role
      include_role:
        name: archlinux
      when: ansible_distribution == "Archlinux"
    - name: Include hyprland role
      include_role:
        name: hyprland
      when: desktop_session == "hyprland-uwsm"
