---
- name: System setup
  hosts: localhost
  become: true
  gather_facts: true

  roles:
    - role: common
    - role: editor
    - role: gui

  tasks:
    - name: Include Archlinux role
      ansible.builtin.include_role:
        name: archlinux
      when: ansible_distribution == "Archlinux"
    - name: Include hyprland role
      ansible.builtin.include_role:
        name: hyprland
      when: (ansible_facts.env.DESKTOP_SESSION | default("") | lower) == "hyprland-uwsm"


